* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}



button,
input,
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  background: black;
  color: #ffffff;
}

#app {
  margin: 11.5rem auto 1rem;
  width: min(95%, 112rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.7rem;
}

.wrapper-search {
  display: flex;
  gap: 0.8rem;
  height: 4.8rem;
}

.wrapper-search label {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

#box-search {
  background-color: #06181c;
  color: white;
  font-weight: normal;
  font-size: 1.6rem;
  padding: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  width: 46.2rem;
}

#box-search::placeholder {
  color: #7c7c8a;
}

#box-search:focus {
  outline: 2px solid #092d38;
}

#btn-fav:focus {
  outline: 2px solid #4a808c;
}

#btn-fav {
  color: white;
  gap: 0.8rem;
  padding: 1.2rem 3.2rem;
  display: flex;
  align-items: center;
  background: #065e7c;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background 0.4s;
}

#btn-fav:hover {
  transition: background 0.4s linear;
  background: #ffffff;
  color: #065e7c;
}

#btn-fav:hover svg path {
  fill: #065e7c;
}

#btn-fav svg {
  width: 2.25rem;
  height: 2.1rem;
}

.img-user {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

th:first-child,
td:first-child {
  width: 52rem;
  text-align: left;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead,
tbody {
  display: block;
}

#tbody {
  border-radius: 0 0 1.2rem 1.2rem;
  border: 1px solid #4a808c;
  max-height: 56.8rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 0;
}

.fav-head {
  border: 1px solid #4a808c;
  border-radius: 1.2rem 1.2rem 0 0;
  border-bottom: 0;
}

table thead tr {
  background-color: #092d38;
}

table thead tr th {
  font-weight: bold;
  font-size: 2rem;
  padding: 1.6rem 4rem;
  text-align: left;
  width: 20rem;
}

table tbody tr td {
  padding: 2.8rem 4rem;
  width: 20rem;
}

table tbody tr td:first-child {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

table tbody tr td:first-child>div a {
  font-size: 2rem;
  font-weight: bold;
  color: #e1e1e6;

}

table tbody tr td:first-child>div p {
  font-size: 2rem;
  font-weight: normal;
  color: #e1e1e6;
}

table tbody tr:nth-child(odd) {
  border: 1px solid #4a808c;
  border-left: 0;
  border-right: 0;
  background-color: #030B0D;
  transition: filter 0.1s;
}

table tbody tr:nth-child(even) {
  border: 1px solid #4a808c;
  border-left: 0;
  border-right: 0;
  background-color: #06181c;
  transition: filter 0.1s;
}

table tbody tr:hover {
  filter: brightness(1.2);
}

table thead tr th:first-child {
  border-top-left-radius: 1.2rem;
}

table thead tr th:last-child {
  border-top-right-radius: 1.2rem;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1.2rem;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1.2rem;
}

table tbody tr:last-child {
  border-bottom: 0;
}

table tbody tr:first-child {
  border-top: 0;
}

.btn-remover {
  font-weight: bold;
  font-size: 2rem;
  color: #f75a68;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-remover:hover {
  transition: color 0.3s;
  color: red;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: #4a808c;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c929e;
}

::-webkit-scrollbar-track {
  background-color: #223c4283;
  border-radius: 1rem;
  margin-block: 1rem;
}

#tbody:has(tr.empty) {
  overflow: hidden;

}

table tbody:has(tr.empty) tr:hover {
  filter: none;
}

#tbody:has(tr.empty) tr {
  background: #030B0D;
  display: grid;
  height: 40rem;
  place-content: center;

}

#tbody:has(tr.empty) tr td {
  display: block;
  width: 100%;
}

#tbody:has(tr.empty) tr td div {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;

}

#tbody .empty td div p {
  font-family: 'Roboto Mono', monospace;
  color: #4E5455;
  font-size: 4rem;
}

.img-empty {
  width: 13.2rem;
  height: 12.5rem;
}


@media (min-width: 320px) and (max-width: 1024px) {
  #app {
    margin-top: 6rem;
  }
  #tbody:has(tr.empty) tr {
    height: 26rem;
  }
  #tbody{
    max-height: 27.5rem;
  }

  #tbody:has(tr.empty) tr td div {
    gap: 2rem;
  }

  header {
    display: block;
    margin-bottom: 6rem;
  }

  header img {
    display: block;
    width: 20rem;
    margin: 4rem auto;
  }

  table thead tr th,
  table tbody tr td {
    padding: 1rem;
    font-size: 1.7rem
  }

  table tbody tr td:first-child {
    display: block;
    min-width: 10rem;
  }

  td:first-child {
    width: auto;
  }

  table tbody tr td:first-child>div p,
  table tbody tr td:first-child>div a,
  .btn-remover,
  table thead tr th,
  table tbody tr td {
    font-size: 1.2rem;
  }


  table tbody tr td:first-child>div a {
    margin: 1rem 0;
  }

  .img-user {
    margin: 1rem 0;
    display: block;
    width: 4.6rem;
    height: 4.6rem;
  }

  #tbody .empty td div p {
    font-size: 2rem;
  }

  #box-search {
    display: block;


  }

  #box-search::placeholder {
    font-size: 1rem;
  }

  #btn-fav {
    padding: 1.5rem;
  }

  #btn-fav span {
    display: none;
  }


  .img-empty {
    width: 11.2rem;
    height: 8.5rem;
  }


}

@media (min-width: 375px) and (max-width: 1024px) {
  table tbody tr td:first-child {
    min-width: 17rem;
  }
}

@media (min-width: 425px) and (max-width: 1024px) {
  table tbody tr td:first-child {

    min-width: 16rem;
  }

  .wrapper-search {
    width: 34rem;
    margin: auto;

  }


}

@media (min-width: 460px) and (max-width: 1024px) {
  table tbody tr td:first-child {

    min-width: 17rem;
  }

}

@media (min-width: 500px) and (max-width: 1024px) {
  table tbody tr td:first-child {
    display: flex;
  }

  table tbody tr td:first-child {

    min-width: 21rem;
  }
}

@media (min-width: 520px) and (max-width: 1024px) {

  table {
    margin: auto;
    width: 50rem;
  }
}

@media (min-width: 620px) and (max-width: 1024px) {

  :root {
    font-size: 74%;
  }

  #btn-fav span {
    display: block;
  }
}